/***************colour palette***************************/
/*
#fff0f0=light
#ebd4d4=darker
#835858=darker
#463333=darkest
#625261=text colour

*/
/*****************************tag electors***************************/
body{background-color:#ebd4d4;
margin:0 0 0 0;}
div{margin-bottom:0;}
hr{width:25%;
height:0;

border: dotted #835858 6px;
border-right: 0;

border-left: 0;
border-bottom: none;
}






/*****************************class selectors*************************/
.logo{background-color: #463333;
  position: absolute;
  left:10px;
  top:10px;

  display:inline-block;
width:40px;
height:40px;
padding :10px 10px 10px 10px;
}
.navbar{background-color:#463333 ;
  margin:0 0 0 0;
  height:75px;

width:100%;
}

.navbarcontent{display: inline-block;border-spacing:15px;

  font-style: italic;
  font-size: 15px;
  font-family:cursive;
  font-weight: bold;
  position: absolute;
right: 20px;
top:10px;}


.navbarbutton{border:0;
background-color: black;
color: white;
padding-top: 6px;
padding-bottom:6px;
border-radius: 12px;
}


.navbarbutton:hover{background-color: red;
color: black}


.hobby{
border-spacing: 65px;
position: absolute;
  top: 1110px;

left:90px}

.homepage1
{background-color:#ebd4d4;
  line-height: 0;
  margin-top:0;
height:500px;
width:100%;}


.homepage2
{background-color:#ebd4d4 ;
  height:500px;
  width:100%;
}


.homepage3{background-color:#ebd4d4 ;
height: 700px;
width:100%}


.footer{height:150px;
width:100%;
background-color:#835858;
 }



.mainhead{color:#625261;
position: absolute;
left:35%;
top:250px;
font-style: italic;
font-weight: bold;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px}


.h2{position: absolute;
left:45%;
top: 600px;}

.h3{position: absolute;
left:48%;
top: 1110px;}

.par1{position: absolute;
left:40%;
top:320px;
font-weight: bold;
font-size: 15px;
font-style: italic;
font-family: "Lucida Console", Monaco, monospace;
}

.par2{text-align: center;
  background-color: #625261;
  position: absolute;
top: 750px;
left: 37%;
padding: 20px 20px 20px 20px;
border-style: solid;
border-top-width: 4px;
border-right-width:  4px;
border-left-width : 4px ;
border-bottom-width : 4px;
border-color: #463333;
text-align: left;line-height: 2;
}
.par3{padding: 20px 20px 20px 20px;
border-style: solid;
border-top-width: 4px;
border-right-width:  4px;
border-left-width : 4px ;
border-bottom-width : 4px;
border-color: #463333;
background-color: #625261;
color: white;
text-align: left;


}



.parafooter{position: absolute;
top: 1870px;
left:43%;}


.parfooter{position: absolute;left: 48%;
font-weight: bold;font-style: italic;
}

.hii{position: absolute;
left: 0;
top:15px;
}

.star{position: absolute;
top: 200px;
right:20px;
}





/******************************id selector*****************************/
