body {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;}

  html
  {background: url(photos/2452.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }


* {
    box-sizing: inherit;
}


.btnlearn:focus{outline:none;
}

.navbar{width: 100%;
height:100px;}

.navbarbtns{position: absolute;
  right: 10px;
font-size: 13px;
padding-left: 2px;
padding-right:2px ;
padding-top:16px ;
padding-bottom: 2px;
font-weight: bold;
margin:2px 2px 2px 2px;}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navcolor{
  background-color: black;}

  .navcntnt{color: white;
  padding-right:0;
  margin:  auto 20px auto 20px;

}
  .navcntnt:hover{color: grey;
  background-color: #ac090a;
  border-radius: 15px 50px;
}

  .btncntct {
    color: #eae7e6;

    background-color: transparent;
    background-image: none;
    border-color: #eae7e6;
    border-width: thick;
    margin-left: 20px;
    margin-top:2px;
    margin-bottom: 6px;
  }

  .btncntct:hover {
    color: black;
    background-color: #eae7e6;
    border-color: #ac090a;


    text-decoration: none;

  }



  .logo{width: 200px;
    height:80px;
    position: absolute;
    top: 7px;

}

.list{display:inline-block;
  text-align:
center;}

.dd {
  position: relative;
  display: inline-block;

}

.ddc {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}


.dd:hover  {
  display: block;
}


.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #ac090a;
  border-radius: 15px 50px;


}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  ;
  z-index: 1;
  margin-top: 1px;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: black;
color: white;
border-radius: 0px 50px 30px 0px;
border-width: thick;}

.dropdown:hover .dropdown-content {
  display: block;
}


/************************dropdowns*********************************/


.Services{width:40%;
  border-collapse: separate;
border-spacing: 15px;
border:3px;
margin-bottom: 5px;}
.service-content{background-color: grey;
color: white;
width: 40px;
padding-top: 2px;
padding-left: 2px;
padding-right: 2px ;
padding-bottom: 2px;
margin: 10px 10px 10px 10px;
text-align: center;}


  /*.service-content-dropdown{

  }*/
.service-content-dropdown:hover{background-color: black;
color:white;
border-radius: 0px 50px 30px 0px;
border-width: thick;
padding-top: 1px;
padding-bottom: 1px;}




#header{background-color: white;
  background-size: 10px;
color: #ac090a;
font-weight: bold;
width: 10px;
padding-top: 2px;
padding-left: 2px;
padding-right: 2px ;
padding-bottom: 2px;
margin: 2px 2px 2px 2px;
text-align: center;
font-size: 15px;}




.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.collapse {
  display: none;


}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #ac090a;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: absolute;
  margin-left: 410px;
  margin-top: 30px;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}



.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

/*****************page****************************/

.secondhomepage1{position: absolute;
top: 50px;

height: 2400px;
width: 100%;
}


.heading-section{
  position: relative;
  top: 50px;
height:400px;}



.mainheading{position: relative;
bottom: 350px;
text-align: center;
padding-left: 100px;
padding-right:100px;
font-style: italic;
font-weight: bold;
color: white;
font-size: 40px;

}


.image{position: relative;
  top:0px;

}


.mainheadingpar{color: white;
position: relative;
bottom:320px;
text-align:center;
padding-left: 100px;
padding-right:100px;
font-size: 25px;
font-weight: bold;
font-family: 'Piazzolla', serif;


color: white;}


.infopar{position: absolute;
top:450px;
}


.p1{
padding:8%;
padding-bottom: 3%;}

.p2{padding:8%;
padding-top: 0%;}

/* why choose us */

.whychooseus{position: absolute;
top: 1000px;
background-color: #e8e6df;
height: 800px;
width: 100%;}

.homepageheading4{font-family: 'Noto Serif', serif;
position:relative;
top: 10px;
text-align: center;
color: black;
padding-top: 5%;}

.homepagehr4{
  border: solid #ac090a 2px;
border-top: none;
border-width: 2px;
position: relative;
top: 20px;
width: 5%;
align-self: center;}

.fa-chalkboard-teacher{padding-right:3%; }
.fa-clipboard-check{padding-right:3%;}
.fa-hands-helping{padding-right:3%;}
.fa-laptop-code{padding-right:3%; }
.fa-dollar-sign{padding-right:3%;}
.fa-calendar-check{padding-right:3%;}


.row{margin-left: 100px;
margin-right: 100px;
margin-top:70px;}


/********videos***********/
.video{position: absolute;
top:1800px;
height:900px;
width: 100%;
background-color: #e8e6df;}

.videorow{position: relative;
top:150px;}

.videostyling{border-radius: 15px;}



.videostyle{border-radius: 15px ;
box-shadow: 2px 2px 2px 2px grey;
align-self: center;
display: block;
  margin-left: auto;
  margin-right: auto;}}




.col-lg-10{align-self: center;
display: block;
  margin-left: auto;
  margin-right: auto;}

  .carousel-control-next-icon1 .carousel-control-prev-icon1 {

    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;

  }
  .carousel-control-next-icon1:after
  {  position: relative;
  top:0px;

    content: '>';
    font-size: 55px;
    color: black;
    position: relative;
    bottom: 350px;
    align-self: auto;
  }

  .carousel-control-prev-icon1:after {
    position: relative;
  top:0px;

    content: '<';
    font-size: 55px;
    color: black;
    position: relative;
    bottom: 350px;
    align-self: auto;}


/* get in touch section */
.interested{position: absolute;
top:2700px;
height:300px;
width: 100%;
background-color: white;}

.btncntct2 {position:relative;
  top:15px;
  color: black;
  background-color: transparent;
  background-image: none;
  border-color: black;
  border-width: thick;
  margin-left: 20px;
  margin-top:2px;
  margin-bottom: 6px;
}

.btncntct2:hover {
  color: black;
  background-color: #eae7e6;
  border-color: #ac090a;


  text-decoration: none;

}


.interestedpar{
color: black;
font-size: 30px;
font-weight: bold;}






/* footer */

.footer{position: absolute;
top:3000px;
height:300px;
background-color: black;
width: 100%;}


.logohead{position: relative;

padding-top: 2%;
color: white;}


.contact-footer{color: #ac090a;
position: relative;
left: 40px;
top: 40px;
}


.fa-phone-volume{padding-right:1%;
  padding-left: 3%;
  transform:
rotate(330deg);
color: white;}



.fa-envelope{color: white;
padding-right:1%;
padding-left: 3%;
}


.sql1{padding-top: 1%;
  position: relative;top: 40px;
  color: white;

}




.sql2{color: white;}


.tablesql{width: 60%;
position: relative;
left:600px;
bottom: 140px;
color: white;}


.linkshead{height: 50px;
color: #ac090a;}


.contact-footer:hover{color:grey;
text-decoration:none;}


.sql2:hover{color:grey;
text-decoration:none;}


.sql1:hover{color:grey;
text-decoration:none;}


.social{position: relative;
bottom: 150px;
margin-left: 970px;
size:20%;}



.fa-instagram{color: white;
}

.fa-youtube{color: white;
  margin-left: 2%;
  margin-right: 2%}

.fa-pinterest-square{color: white;}


.fa-2x:hover{color: grey;
text-decoration: none;}
